.rc-navbar{
    background-color: #2c3e50;
    padding: 1rem;
}

.rc-navbar a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.rc-navbar a:hover{
    color: #1ABC9C;
}
.navbar-brand{
    font-size: 1.7rem !important;
}

.rc-margin{
    width: 70%;
    margin: auto;
}